@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-Regular.ttf") format("ttf")
}

#pageName {
  font-family: "Orbitron";
  font-size: 1.50rem;
}

#heading {
  font-family: "Orbitron";
}