@font-face {
  font-family: "Orbitron";
  src: url("fonts/Orbitron-Regular.ttf") format("truetype");
  src: local("Orbitron");
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans');

#pageName {
  font-family: "Orbitron";
  font-size: 1.50rem;
}

#heading {
  font-family: "Orbitron";
  font-size: 32px;

}

.navbar > * {
  font-family: "Noto Sans";
}